body {
    margin-top: 10rem;
    background: #f8f8f8;
}

.navbar {
    box-shadow: 2px 2px 5px #C54739;
    background: #fff;
    opacity: 0.9;
}

.nav-item {
    font-size: 1.3rem;
}

.active {
    color: #9F3D34 !important;
}

a {
    color: #C54739
}

a:hover {
    color: #9F3D34;
}

/* #C54739
   #9F3D34
*/

.btn-ngred {
    background-color:#C54739;
    color: #f7f7f7;
}

.btn-ngred:hover {
    background-color: #9F3D34;
    color: #fff;
}