body {
    margin-top: 10rem;
    background: #f8f8f8;
}

.navbar {
    box-shadow: 2px 2px 5px #C54739;
    background: #fff;
    opacity: 0.9;
}

.nav-item {
    font-size: 1.3rem;
}

.active {
    color: #9F3D34 !important;
}

a {
    color: #C54739
}

a:hover {
    color: #9F3D34;
}

ul {
    list-style: none;
}

button {
    border-radius: 4px;
}

/*Custom classes*/
.bg-dred {
    background-color: #9F3D34;
    color: #fff;
}

.bg-red {
    background-color: #C54739;
    color: #fff;
}

.btn-ngred {
    background-color:#C54739;
    color: #f7f7f7;
}

.btn-ngred:hover {
    background-color: #9F3D34;
    color: #fff;
}

.fa-trash {
    color: #9F3D34;
    font-size: 36px;
}

.done {
    color: gray;
    text-decoration: line-through !important;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Examples design */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}