body {
    margin-top: 10rem;
    background: #f8f8f8;
}

.navbar {
    box-shadow: 2px 2px 5px #C54739;
    background: #fff;
    opacity: 0.8;
}

.nav-item {
    font-size: 1.3rem;
}

.active {
    border-left: 4px solid #9F3D34;
}

a {
    color: #C54739
}

/* #C54739
   #9F3D34
*/